html {

  background: radial-gradient(   rgb(230 ,229 ,222 )    ,  rgb(192 ,192,190)  );
  
}



body {
  margin: 50px 150px;
}

.list .list-item {
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: move;
}

.list .list-item .list-item_head {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid rgb(69, 34, 18);
  margin-right: 30px;
}

.list .list-item .list-item_head .head-id {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(56 , 59 , 56);
  text-shadow: 3.5px 2.5px 1.5px #19313483 ;
}

.list .list-item .list-item_content .item-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.list-item.dragElem {
  opacity: 0.4;
}

.list-item.over {
  border-top: 2px solid rgb(93 , 255 , 253);
}

